.App {
  background-color: #e35a5a;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 65px;
  object-fit: cover;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  display: flex;
  align-content: center;
}

.wrapper {
  margin: auto;
  border-radius: 12px;
  width: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 10px 0;
}

.lorem {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
}

.wrapper__inp {
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

.inp {
  border: none;
  width: 100%;
  outline: none;
}

.inp:placeholder-shown {
  color: red;
}

.icon {
  width: 24px;
  padding: 0 10px;
}

.btn {
  background-color: #0040ff;
  height: 48px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.forgot {
  margin-top: 20px;
  text-align: center;
  color: #0040ff;
  font-weight: 600;
  text-decoration: none;
}

.bot {
  margin-top: 50px;
  text-align: center;
}

.signup {
  color: #0040ff;
  text-decoration: none;
  font-weight: 700;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
